/*
.evaluation-category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*/

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left top, #f02d46, #1C1C1C);
    gap: 30px;
}

.assessment{
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.title-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin: 40px;
    text-transform: auto;
}

.assessment-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.assessment-container::-webkit-scrollbar{
    display: none;
}

.assessment-img img{
    height: 5rem;
}

.assessment-card{
    flex:  0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.assessment-img{
    position: relative;
    overflow: hidden;
}