.evaluation-category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel-assessment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-group-assessment{
    display: flex;
    margin: 25px;
    gap: 15px;
}

.card-assessment{
    background-color: #1C1C1C;
    height: 20rem;
    width: 15rem;
    white-space: nowrap;
    border-radius: 10px;
}

.btn-slider{
    position: absolute;
    background-color: #f02d46;
    color: #FFFAFA;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.btn-slider:hover{
    background-color: #FFFAFA;
    color: #f02d46;
}

.btn-right{
    margin-left: 80rem;
}

.btn-left{
    margin-right: 80rem;
}